<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- Bean들을 Auto Scanning  -->
	<context:component-scan base-package="myspring.user">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	<!-- 	MyBastis Mapper 설정 -->
<!-- 	<bean id="studentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> -->
<!-- 		<property name="mapperInterface" value="myspring.user.dao.mapper.StudentMapper" /> -->
<!-- 		<property name="sqlSessionTemplate" ref="sqlSession" /> -->
<!-- 	</bean> -->

	<!-- MapperScannerConfigurer 설정 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="myspring.user.dao.mapper"/>
		<property name="annotationClass" value="myspring.user.dao.mapper.MyMapper" /> 
	</bean>
	
	<!-- MyBatis 설정 -->
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:config/SqlMapConfig.xml"/>
		<property name="mapperLocations">
			<list>
				<value>classpath:config/*Mapper.xml</value>
			</list>
		</property>
	</bean>


	<!-- 	properties file 정보설정-->
	<context:property-placeholder location="classpath:config/values.properties"/>
	<!-- DataSource 설정 -->
	<bean id = "dataSource"
		class = "org.apache.commons.dbcp2.BasicDataSource"
		p:url="${db.url}"
		p:driverClassName="${db.driver}"
		p:username="${db.user}"
		p:password="${db.pass}"
	/>

	<!-- StringPrinter 클래스를 Bean으로 등록 -->
	<bean id="sPrinter" class="myspring.di.xml.StringPrinter"/>
	<!-- ConsolePrinter 클래스를 Bean으로 등록 -->
	<bean id="cPrinter" class="myspring.di.xml.ConsolePrinter"/>
	<!-- 	Hello 클래스를 Bean으로 등록 -->
		
	<bean id="hello" class="myspring.di.xml.Hello">
		<!-- 		setter injection -->
		<property name="name" value="임정욱"/>
		<property name="printer" ref="sPrinter"/>
	</bean>
	
</beans>